.leftLabel{
  width:10em;
}
.leftText{
  width:10.5em;
}
.errmsg{
  color:red;
}
.scrapingImg{
  position: relative;
  border-radius: 10px;
  max-width: 100%;
}
.selected{
  border:4px double limegreen; 
}
.selectedButton{
  z-index: 2;
  position: absolute;
  right: 3%;
  top: 3%;
  margin: auto;  
}
.img{
   border-radius: 10px;
}
.thumbLabel{
  margin-left: 1em;
  margin-top:1em;
}