<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-button slot="start" (click)="modal.dismiss()" fill="clear">
        　 <ion-icon name="close-circle" slot="icon-only" [color]="castForm.dirty?'danger':'dark'"></ion-icon>
      </ion-button>
      <ion-button slot="start" (click)="undo()" fill="clear">
        　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-title>キャスト</ion-title>
      <ion-button [disabled]="!eraseable" (click)="erase()" color="danger" slot="end" fill="clear">
        <ion-icon name="hammer" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" [disabled]="!castForm.valid || !(prop.user.id===user.value || prop.user.admin)"
        (click)="save()" fill="clear">
        　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="castForm">
    <ion-item *ngIf="!shop.valid">
      <ion-label class="leftLabel">店</ion-label>
      <ion-item button="true" (click)="popList('shop')">{{shoping}}</ion-item>
      <ion-input name="shop" [formControl]="shop"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="leftLabel">名前</ion-label>
      <ion-input name="na" [formControl]="na" placeholder="明後日キラリ"
        [readonly]="!(prop.user.id===user.value || prop.user.admin)"></ion-input>
    </ion-item>
    <span *ngIf="na.errors?.minlength||na.errors?.maxlength" class="errmsg">２文字以上２０文字以下で入力してください。</span>
    <ion-item>
      <ion-label class="leftLabel">ふりがな</ion-label>
      <ion-input name="kana" [formControl]="kana" placeholder="あさってきらり"
        [readonly]="!(prop.user.id===user.value || prop.user.admin)"></ion-input>
    </ion-item>
    <span *ngIf="kana.errors?.minlength||kana.errors?.maxlength" class="errmsg">２文字以上４０文字以下で入力してください。</span>
    <span *ngIf="kana.errors?.pattern && kana.dirty" class="errmsg">全角ひらがなで入力してください</span>
    <ion-item>
      <ion-label class="leftLabel">
        <ion-icon name="home" padding-right></ion-icon>ホームページ
      </ion-label>
      <ion-input name="url" [formControl]="url" (change)="refresh()" placeholder="https://kanderi.com/cast/001.html"
        [readonly]="!(prop.user.id===user.value || prop.user.admin)">
      </ion-input>
      <ion-button slot="end" (click)="refresh()" fill="clear"
        [disabled]="!(prop.user.id===user.value || prop.user.admin) || !(url.valid && url.value)">
        　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-item>
    <span *ngIf="url.errors?.pattern && url.dirty" class="errmsg">正しいURLを入力してください</span>
  </form>
  <ion-item>
    <ion-label>メイン写真</ion-label>
    <img *ngIf="imgBase64;else orgimg" class="img" [src]="imgBase64" />
    <ng-template #orgimg>
      <img class="img" [src]="img.value" />
    </ng-template>
    <ion-button slot="end" (click)="popCrop()" fill="clear"
      [disabled]="!(prop.user.id===user.value || prop.user.admin)">
      　 <ion-icon name="image" slot="icon-only" color="success"></ion-icon>
    </ion-button>
    <ion-button *ngIf="imgBase64" slot="end" (click)="imgBase64=''" fill="clear">
      　 <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-label class="thumbLabel">サムネイル動画、写真</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let video of videos;let i=index" size-xs="12" size-sm="12" size-md="12" size-lg="12"
        size-xl="12">
        <video [src]="video.url" class="scrapingImg" [class.selected]="video.selected" controls></video>
        <ion-button class="selectedButton" fill="clear" (click)="video.selected=!video.selected">
          <ion-icon *ngIf="video.selected;else videoselect" name="close-circle" color="danger" slot="icon-only">
          </ion-icon>
          <ng-template #videoselect>
            <ion-icon name="add-circle" color="success" slot="icon-only"></ion-icon>
          </ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let img of imgs;let i=index" size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
        <a [href]="img.url" target="_blank">
          <img [id]="'scrapingImg' + i" [src]="img.url" class="scrapingImg" [class.selected]="img.selected" />
        </a>
        <ion-buttons class="selectedButton">
          <ion-button fill="clear" (click)="img.selected=!img.selected">
            <ion-icon *ngIf="img.selected;else imgselect" name="close-circle" color="danger" slot="icon-only">
            </ion-icon>
            <ng-template #imgselect>
              <ion-icon name="add-circle" color="success" slot="icon-only"></ion-icon>
            </ng-template>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<canvas #canvas style="display:none;"></canvas>