ion-content ion-toolbar {
  --background: translucent;
}

#battery{ 
  width:100%;
  height: 6em;
  display:flex;
  flex-flow: row wrap;    /* 横方向の折り返し */ 
  align-content: stretch;
  border: 5px solid silver;
  border-radius: 10px;  
  position: relative;  
  &:before{    
      content: '';
      position: absolute;
      right: -5%;
      top: 50%;
      transform: translateY(-50%);  
      width:5%;
      height: 3em;   
      border-radius: 5px;  
      background:silver;
  }
  .scale{
    flex-grow:1;
    min-width:10px;
    margin:5px;  
    border-radius: 3px;  
  }  
}
.val{
  text-align: center;
}
.time{
  margin-top:1em;
  display:flex;
  justify-content: space-between;
}
.capa{
  font-weight: bold;
  font-size:1.5em;
}
.arrows {
	position: relative;
  display: flex;
  width:5em;
  margin-left: 1em;
	height: 6em;/*画面いっぱいにする場合100vh*/
	//margin: 2em auto;
	justify-content: center;
  align-items:center;
    .arrow {
    position: absolute;
    left: 4em;
    opacity: 1;
    &:before, &:after {
      position: absolute;
      top: 0;  
      left: 0;
      display: block;
      width: 3em;
      height: 0.3em;
      margin-top:1em;
      content: '';
      background: limegreen;
    }
    &:before {
      transform: rotate(120deg) translateX(-0.15em);
      transform-origin: top left;
    }
    &:after {
      transform: rotate(-120deg) translateX(0.15em);
      transform-origin: top left;
    }
  }
}
@keyframes mov {
	0% {
		left: 1em;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
  }
}
.voltage{
  font-size:4em;
}
.fas{
  padding-right: 0.5em;
}