<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-item><span class="title">{{home}}</span>
      <ion-button fill="clear" (click)="undo(-1)">
        <ion-icon name="chevron-back-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <span class="title">{{date|date}}</span>
      <ion-button fill="clear" (click)="undo(1)">
        <ion-icon name="chevron-forward-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="openCalendar()" fill="clear">
        <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="param.id">
  <ion-content #content>
    <app-chat page="meet" [param]="param" [user]="user" [content]="content"></app-chat>
  </ion-content>
  <ion-footer id="footer">
    <app-send [id]="param.id" page="meet" [thread]="param.thread" [user]="user" [users]="users" [content]="content">
    </app-send>
  </ion-footer>
</ng-container>


<!--
-->