
  <ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>{{title}}</ion-title>
      <ion-button (click)="editStay(stay.id)" slot="end" fill="clear">
        <ion-icon name="create" slot="icon-only" color="primary"></ion-icon>
      </ion-button>   
      <ion-menu-button menu="end" slot="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item *ngIf="book.from">
      <ion-label>日程</ion-label>
      <ion-text *ngIf="book.from.getTime()===book.to.getTime() else fromto;">{{book.from|date}}</ion-text>
      <ng-template #fromto><ion-text>{{book.from|date}}から{{book.to|date}}まで　{{night(book.from,book.to)}}泊</ion-text></ng-template>
      <ion-button slot="end" (click)="changeFromto()" fill="clear">
        　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-item>
    <p></p>    
    <app-pay1 *ngIf="user.id else login;" [user]="user" [amount]="book.amount" (pay)="pay($event)"></app-pay1>
    <ng-template #login>
      <div style="text-align: center">
        <ion-button routerLink="/login">
          <ion-icon name="log-in"></ion-icon>ログインして続ける
        </ion-button>
      </div>
    </ng-template>
  </ion-content>