<ng-container *ngIf="params.id">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="url" slot="end" fill="clear">
          　 <ion-icon name="arrow-dropup" slot="icon-only" color="dark"></ion-icon>
        </ion-button>
        <ion-menu-button menu="end">
          <ion-icon name="contacts"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content #content>
    <app-chat [page]="params.page" [param]="params" [user]="user" [content]="content" (orgThread)="titleing($event)">
    </app-chat>
  </ion-content>

  <ion-footer id="footer">
    <app-send *ngIf="user.id" [id]="params.id" [page]="params.page" [thread]="params.thread" [user]="user"
      [content]="content">
    </app-send>
  </ion-footer>
</ng-container>