<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="report">
      <ion-icon name="document"></ion-icon>
      <ion-label>レポート</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="column">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>コラム</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view">
      <ion-icon name="eye"></ion-icon>
      <ion-label>ビュー</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>コメント</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="follow">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-label>フォロワー</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support">
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>サポーター</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="good">
      <ion-icon name="thumbs-up" color="success"></ion-icon>
      <ion-label>いいね！</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bad">
      <ion-icon name="thumbs-down" color="dark"></ion-icon>
      <ion-label>ダメ出し</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>