<ion-header>
  <ion-toolbar>
    <ion-title>{{user.na}}のブログ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="new()" slot="end" fill="clear">
        <ion-icon name="add-circle" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>  
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let blog of blogs;let i=index" size-xs="4" size-sm="3" size-md="2" size-lg="4" size-xl="3">
        <ion-card button="true" [routerLink]="'/blog/' + blog.id">
          <ion-card-header>
            <ion-card-title>{{blog.na}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="cardDiv">
              <img *ngIf="blog.simg" [src]="blog.simg"/>
              <div *ngIf="blog.detail$|async as detail" class="viewDiv">
                <ion-icon name="eye" color="secondary"></ion-icon>{{detail.view}}
                <ion-icon name="chatbubbles" color="medium"></ion-icon>{{detail.chat}}
                <ion-icon name="thumbs-up" color="success"></ion-icon>{{detail.good}}
                <ion-icon name="thumbs-down" color="dark"></ion-icon>{{detail.bad}}
              </div>
            </div>
            <div style="text-align: right;">{{blog.created|date}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <span *ngIf="!blogs.length" id="nopost">まだ投稿していません。</span>
    </ion-row>
  </ion-grid>
</ion-content>