<ion-header>
  <ion-item *ngFor="let book of books">
    <ng-container *ngIf="book.from===book.to ; else fromto">
      <ion-note slot="start">　{{book.from|date}}</ion-note>{{book.home}}　{{book.stay}}<ion-note slot="end">{{book.amount}}円</ion-note>　
    </ng-container>
    <ng-template #fromto>
     <ion-note slot="start">{{book.from|date}}～<br>　{{book.to|date}}</ion-note>{{book.home}} {{book.stay}}<ion-note slot="end">{{book.amount}}円</ion-note>
    </ng-template>
    <ion-button (click)="cancel(book)" color="danger" slot="end" fill="clear">
    <ion-icon name="trash" slot="icon-only"></ion-icon>
  </ion-button>
  </ion-item>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title *ngIf="from && to;else notime">      
      <div *ngIf="from.getTime() !== to.getTime();else fromto">{{from|date:'day'}}～{{to|date:'day'}}の予約</div>
      <ng-template #fromto>{{from|date:'day'}}の予約</ng-template>
    </ion-title>
    <ng-template #notime>
      <ion-title>日時を選択してください。</ion-title>
    </ng-template>
    <ion-button [disabled]="!editable" [routerLink]="'/manage/book/' + home + '/' + from + '/' + to" slot="end" fill="clear">
      <ion-icon name="create" slot="icon-only" color="secondary"></ion-icon>
    </ion-button>
    <ion-button (click)="openCalendar()" slot="end" fill="clear">
      <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
    </ion-button>    
    <ion-menu-button menu="end" slot="end">
      <ion-icon name="contacts"></ion-icon>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">  
  <p style="text-align: center;"><ion-text >２０２１年４月　プレオープン予定です。</ion-text></p>  
  <ion-grid *ngFor="let stayTyp of stayTyps">
    <div *ngIf="stayTyp.na" class="title"><h2>{{stayTyp.na}}</h2></div>
    <ion-row>
      <ion-col *ngFor="let stay of stayTyp.stays" size-xs="6" size-sm="4" size-md="3" size-lg="6" size-xl="4">
        <ion-card [button]="!stay.state" (click)="bill(stay)" >
          <ion-card-header>
            <ion-card-title>{{stay.na}}</ion-card-title>            
            <ion-card-subtitle *ngIf="stay.state">{{state[stay.state]}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img [src]="stay.img"/>{{stay.txt}}            
            <div *ngIf="stay.total!=null && !stay.state" class="total">{{stay.total}}円</div>
      <!--      <ion-item *ngIf="stay.users.length">
              <ion-avatar *ngFor="let user of stay.users" button="true"><img [src]="user.avatar" [alt]="user.na"/></ion-avatar>
            </ion-item>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
 [disabled]="to.getTime()>=now.getTime()&&xScale.value===1"

 [routerLink]="'/book/' + stay.id + '/' + dateFormat(from) + '/' + dateFormat(to)
  
-->