<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="vehicle">
      <ion-icon name="car-sport"></ion-icon>
      <ion-label>愛車</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="report">
      <ion-icon name="document"></ion-icon>
      <ion-label>レポート</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="blog">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>ブログ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>コメント</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friend/follow">
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-label>フォロー</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friend/follower">
      <ion-icon name="star-outline" color="warning"></ion-icon>
      <ion-label>フォロワー</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>

<!--
 <ion-tab-button tab="friend/support">
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>サポート</ion-label>
    </ion-tab-button>
  <ion-tab-button tab="friend/supporter">
      <ion-icon name="heart-outline" color="danger"></ion-icon>
      <ion-label>サポーター</ion-label>
    </ion-tab-button>

-->