.leftLabel{
  width:10em;
}
.leftText{
  width:10.5em;
}
.errmsg{
  color:red;
}
ion-datetime{
  --padding-start:0px;
  //text-align: left;
}
.registButton{
  width:10em;
}
.memo{
  color:gray;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}