<ion-grid>
  <ion-row *ngFor="let story of storys">
    <ng-container *ngIf="!story.rest;else rest">
      <ion-col *ngIf="story.media" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="6"
        [innerHtml]="story.media | safe">
      </ion-col>
      <ion-col *ngIf="story.txt && story.media" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="6"
        [innerHtml]="story.txt | safe">
      </ion-col>
      <ion-col *ngIf="story.txt && !story.media" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12"
        [innerHtml]="story.txt | safe">
      </ion-col>
    </ng-container>
    <ng-template #rest>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-item>
          <ion-text color="tertiary">続きはあと{{story.rested|date:'last'}}で公開されます</ion-text>
          <ion-button slot="end" (click)="support()" color="tertiary">
            <ion-icon name="heart" color="danger"></ion-icon>サポートして今すぐ見る
          </ion-button>
        </ion-item>
      </ion-col>
    </ng-template>
  </ion-row>
</ion-grid>
<ion-item *ngIf="user$|async as user" class="WrapItem">
  <ng-container *ngIf="user.na">
    <ion-item button="true" (click)="popUser()" lines="none" class="avatarItem">
      <ion-avatar><img [src]="user.avatar"></ion-avatar><ion-text>{{user.na}}</ion-text>
    </ion-item>
    <span>
      <ion-icon name="document" color="primary"></ion-icon>{{user.report}}
      <ion-icon name="newspaper" color="primary"></ion-icon>{{user.column}}
      <ion-icon name="eye" color="secondary"></ion-icon>{{user.view}}
      <ion-icon name="heart" color="danger"></ion-icon>{{user.supporter}}
      <ion-icon name="star" color="warning"></ion-icon>{{user.follower}}
      <ion-icon name="thumbs-up" color="success"></ion-icon>{{user.good}}
      <ion-icon name="thumbs-down" color="dark"></ion-icon>{{user.bad}}
    </span>
  </ng-container>
  <span *ngIf="param.acked" slot="end">{{param.acked|date:'day'}}　公開 </span>
</ion-item>