<ion-header>
  <ion-toolbar>
    <div class="title">
      <ion-button *ngIf="columns.drafts.length" slot="start" color="medium" (click)="popColumns(columns.drafts,$event)">
        下書き{{columns.drafts.length}}件
      </ion-button>
      <ion-button *ngIf="columns.requests.length" slot="start" color="secondary"
        (click)="popColumns(columns.requests,$event)">
        申請中{{columns.requests.length}}件
      </ion-button>
      <ion-button *ngIf="columns.posts.length" slot="start" color="warning" (click)="popColumns(columns.posts,$event)">
        審査中{{columns.posts.length}}件
      </ion-button>
      <ion-button *ngIf="columns.acks.length" slot="start" color="success" (click)="popColumns(columns.acks,$event)">
        承認済{{columns.acks.length}}件
      </ion-button>
      <ion-title>コラム投稿</ion-title>
      <ng-container *ngIf="column.id">
        <ion-item *ngIf="column.author" button="true" [routerLink]="'/user/'+column.author.id">
          <ion-avatar>
            <img [src]="column.author.avatar" />
          </ion-avatar>
          <ion-text>{{column.author.na}}</ion-text>
        </ion-item>
        <ion-button *ngIf="column.id" (click)="newColumn()" slot="end" fill="clear">
          <ion-icon name="create" slot="icon-only" color="secondary"></ion-icon>
        </ion-button>
        <ion-button (click)="preview()" slot="end" fill="clear">
          <ion-icon name="browsers" slot="icon-only"></ion-icon>
        </ion-button>
        <ng-container *ngIf="column.user===user.id">
          <ion-button [disabled]="!columnForm.valid || !columnForm.dirty" (click)="save(-1)" slot="end" fill="clear">
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button [disabled]="!columnForm.valid" (click)="save(0)" slot="end" fill="clear">
            <ion-icon name="send" slot="icon-only" color="success"></ion-icon>
          </ion-button>
        </ng-container>
        <ng-container *ngIf="user.admin">
          <ion-button [disabled]="!columnForm.valid" (click)="save(1)" slot="end" fill="clear">
            <ion-icon name="thumbs-up" slot="icon-only" color="success"></ion-icon>
          </ion-button>
          <ion-button [disabled]="!columnForm.valid" (click)="save(-1)" slot="end" fill="clear">
            <ion-icon name="thumbs-down" slot="icon-only" color="dark"></ion-icon>
          </ion-button>
        </ng-container>
        <ion-button *ngIf="(column.user===user.id||user.admin)&&column.id" (click)="erase()" color="danger" slot="end"
          fill="clear">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content #content [scrollEvents]="true" (ionScrollEnd)="onScrollEnd()">
  <form [formGroup]="columnForm">
    <ion-grid>
      <ion-row>
        <ion-col #basic size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item>
            <ion-label position="floating">
              タイトル<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required [formControl]="na" minlength="2" maxlength="30" placeholder="何とかについて"
              (ionBlur)="naBlur()"></ion-input>
          </ion-item>
          <span *ngIf="na.errors?.minlength||na.errors?.maxlength" class="errmsg">２文字以上３０文字以下で入力してください。</span>
          <ion-item>
            <ion-label position="floating">
              タイトルかな
            </ion-label>
            <ion-input [formControl]="kana" minlength="2" maxlength="60" placeholder="なんとかについて"></ion-input>
          </ion-item>
          <span *ngIf="kana.errors?.minlength||kana.errors?.maxlength" class="errmsg">２文字以上６０文字以下で入力してください。</span>
          <span *ngIf="kana.errors?.pattern && kana.dirty" class="errmsg">全角ひらがなで入力してください</span>
          <ion-item>
            <ion-label position="floating">場所</ion-label>{{place}}
            <ion-input [formControl]="parent" style="display:none"></ion-input>
            <ion-button slot="end" (click)="popTree()" fill="clear">
              　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="chatboxes" color="primary"></ion-icon>
            <ion-label>コメント欄</ion-label>
            <ion-toggle [formControl]="chat"></ion-toggle>
            <ion-icon name="lock" color="tertiary"></ion-icon>
            <ion-label>サポーター限定</ion-label>
            <ion-toggle [formControl]="rest"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item>
            <ion-label position="floating">
              説明文
            </ion-label>
            <ion-textarea [formControl]="description" autoGrow="true" maxlength="300"></ion-textarea>
          </ion-item>
          <span *ngIf="description.errors?.minlength||description.errors?.maxlength"
            class="errmsg">２文字以上３００文字以下で入力してください。</span>
          <ion-item>
            <ion-label position="floating">イメージ画像</ion-label>
            <img *ngIf="imgBase64;else orgimg" class="img" [src]="imgBase64" />
            <ng-template #orgimg>
              <img *ngIf="column.image" class="img" [src]="column.image" alt="イメージ" />
            </ng-template>
            <ion-button slot="end" (click)="popCrop()" fill="clear">
              　 <ion-icon name="image" slot="icon-only" color="success"></ion-icon>
            </ion-button>
            <ion-button *ngIf="imgBase64" slot="end" (click)="imgBase64=''" fill="clear">
              　 <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-title #essay class="Text">Essay</ion-title>
  <app-story *ngIf="column.user!=null" typ="column" [document]="column" [user]="user"></app-story>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="currentY>basicY+50" (click)="scroll(basicY)" color="light" size="small">
      Basic
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="currentY+contentH<essayY" (click)="scroll(essayY)" color="light" size="small">
      Essay
    </ion-fab-button>
  </ion-fab>
</ion-content>