<ion-title>返金について</ion-title>
<span></span>
<span></span>
<p></p>
<ion-title>プライバシーポリシー</ion-title>
クレジットカード番号はトークン化したうえで通信されます。本システムにカード情報が記録されることはありません。
<p></p>
<p></p>
<ion-title>利用料：{{amount}}円</ion-title>

<form [formGroup]="cardForm" *ngIf="!card.last4||card.change">
  <ion-list>
    <ion-list-header>
      <ion-img [src]="cardimg">
      </ion-img>※現在、VISAカード及びMASTERカードのみ対応です。
    </ion-list-header>
    <ion-item>
      <ion-label class="leftLabel">カード番号</ion-label>
      <ion-input [formControl]="cardNumber" name="cardNumber" placeholder="4242565642425656"></ion-input>
    </ion-item>
    <span *ngIf="cardNumber.errors?.pattern && cardNumber.dirty"
      class="errmsg">半角数字16桁または0000-0000-0000-0000形式で入力してください</span>
    <ion-item>
      <ion-label class="leftLabel">セキュリティコード</ion-label>
      <ion-input [formControl]="cardCvc" name="cardCvc" placeholder="123"></ion-input>
      <img *ngIf="whatCvc" [src]="cvcimg" />
      <ion-button slot="end" icon-only (click)="whatCvc=!whatCvc">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <span *ngIf="cardCvc.errors?.pattern && cardCvc.dirty" class="errmsg">半角数字3桁で入力してください</span>
    <ion-item>
      <ion-text class="leftText">有効期限</ion-text>
      <ion-datetime display-format="YYYY年M月" picker-format="YYYY年M月" [formControl]="cardRimit" name="cardRimit"
        placeholder="2022年6月" doneText="決定" cancelText="取消" min="2021" max="2030">
      </ion-datetime>
    </ion-item>
    <div text-center>
      <ion-button color="tertiary" (click)="newpay()" [disabled]="cardForm.invalid">同意して申し込む</ion-button>
    </div>
  </ion-list>
</form>
<div *ngIf="card.last4">
  <p>登録済クレジットカード</p>
  　 <p>カード番号　　{{card.brand}} ****-****-****-{{card.last4}}</p>
  <p>有効期間　　　{{card.exp_year}}年{{card.exp_month}}月</p>
  <ion-item class="payButton" lines="none">
    <ion-button color="tertiary" (click)="payClick('')">同意して支払う</ion-button>
    <ion-button *ngIf="!card.change" color="light" (click)="card.change=true" slot="end">クレジットカードを変更する</ion-button>
  </ion-item>
</div>
