<ion-toolbar>
  <ion-item>
    <ion-button class="mediaButton" [color]="addcolor" (click)="mediaButton.add=!mediaButton.add" (press)="unfile()"
      fill="clear" slot="start">
      <ion-icon name="add-circle" slot="icon-only"></ion-icon>
    </ion-button>
    <ng-container *ngIf="mediaButton.add">
      <ion-button class="mediaButton" (click)="popEmoji()" fill="clear" slot="start">
        <ion-icon color="warning" name="happy" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="mediaButton" (click)="upload.click()" fill="clear" slot="start">
        <ion-icon color="success" name="image" slot="icon-only"></ion-icon>
      </ion-button>
      <input #upload style="display:none;" type="file" (change)="fileup($event)" />
    </ng-container>
    <div #talk class="talk" contenteditable="true"></div>
    <ion-button id="send" [disabled]="!sendable" (click)="send()" slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-toolbar>
<canvas #canvas></canvas>
<ion-fab *ngIf="mentions.length" vertical="top" horizontal="start" slot="fixed" edge="true">
  <ion-fab-button size="small" color="warning">
    <ion-icon name="notifications"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button *ngFor="let mention of mentions" (click)="deleteMention(mention)">
      <ion-avatar><img [src]="mention.avatar" /></ion-avatar>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>