<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      周辺環境
    </ion-title>
    <ion-menu-button menu="end" slot="end">
      <ion-icon name="location"></ion-icon>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<agm-map [latitude]='lat' [longitude]='lng' [zoom]='zoom' (boundsChange)="onBoundsChange($event)" (mapClick)="mapClicked($event)" (mapRightClick)="mapRightClicked($event)">
    <agm-marker *ngFor="let marker of markers"
      (markerClick)="openedWindow=marker.id" (markerRightClick)="markerUpdate(marker)" 
      [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label" 
      [iconUrl]="{ url: marker.icon, scaledSize: { width: 30, height: 30, anchor : {x:10, y:10} }}">      
    <agm-info-window #infoWindow [isOpen]="isInfoWindowOpen(marker.id)">
      <strong>{{marker.na}}</strong>
      <div>{{marker.txt}}</div>
      <img *ngIf="marker.simg" [src]="marker.simg"/>
    </agm-info-window>    
  </agm-marker>  
  <agm-circle [latitude]="mylat" [longitude]="mylng" [radius]="50" [fillColor]="'red'" [circleDraggable]="false" [editable]="false"></agm-circle>
</agm-map>
<table>
<tr><td>スーパー</td><td>マックスバリュー</td><td>６分</td></tr>
<tr><td>温泉</td><td>銀の湯会館</td><td>７分</td></tr>
</table>
<span *ngIf="zoom">bind test</span>
<img [src]="IMGURL + '1.jpg'">
</ion-content>

<!--
 <i class="fas fa-car"></i>
      <i class="fas fa-faucet"></i>
      <i class="fab fa-hotjar"></i>
      <i class="fas fa-plug"></i>
      <i class="fas fa-shower"></i>
      <i class="fas fa-solar-panel"></i>
      <i class="fas fa-toilet"></i>



-->