<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="undo()" fill="clear">
        　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>滞在プランの設定</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!(stayForm.dirty||calendarForm.dirty)||!(stayForm.valid&&calrendarForm.valid)"
        (click)="save()" fill="clear">
        　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col #basic size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <form [formGroup]="stayForm">
          <ion-item>
            <ion-label position="floating">
              タイトル<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required [formControl]="stay.na" minlength="2" maxlength="30" placeholder="ソロサイト"></ion-input>
          </ion-item>
          <span *ngIf="stay.na.errors?.minlength||stay.na.errors?.maxlength" class="errmsg">２文字以上３０文字以下で入力してください。</span>
          <ion-item>
            <ion-label position="floating">
              説明文
            </ion-label>
            <ion-textarea [formControl]="stay.txt" autoGrow="true" maxlength="300"></ion-textarea>
          </ion-item>
          <span *ngIf="stay.txt.errors?.minlength||stay.txt.errors?.maxlength"
            class="errmsg">２文字以上３００文字以下で入力してください。</span>
          <ion-item>
            <img *ngIf="imgBlob;else orgimg" class="img" [src]="imgBlob|safe:'url'" />
            <ng-template #orgimg>
              <img *ngIf="stay.img.value;else noimg" class="img" [src]="stay.img.value" />
              <ng-template #noimg>
                <img class="img" [src]="noimgUrl" />
              </ng-template>
            </ng-template>
            <ion-buttons class="imgButtons">
              <ion-button fill="clear" (click)="upImg.click()">
                <ion-icon name="image" color="success" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button *ngIf="imgBlob" slot="end" (click)="imgBlob=''" fill="clear">
                <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <input #upImg style="display: none;" type="file" (change)="imgChange($event)">
          <ion-progress-bar *ngIf="uploading" [value]="progress" color="success"></ion-progress-bar>
          <canvas #canvas style="display: none;"></canvas>
          <ion-item>
            <ion-icon name="chatboxes" color="primary"></ion-icon>
            <ion-label>コメント欄</ion-label>
            <ion-toggle [formControl]="stay.chat"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-icon name="pause" color="primary"></ion-icon>
            <ion-label>休止中</ion-label>
            <ion-toggle [formControl]="stay.close"></ion-toggle>
          </ion-item>
          <ion-segment scrollable [formControl]="stay.typ">
            <ion-segment-button *ngFor="let typ of stayTyps" [value]="typ.id">
              <img [src]="typ.icon" />
              <ion-label>{{typ.na}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </form>
      </ion-col>
      <ion-col #schedule size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <ion-calendar [(ngModel)]="range" [options]="calendarOption" type="js-date">
        </ion-calendar>
        <ion-item>
          <ng-container *ngIf="range.from.getTime()===range.to.getTime();else fromto">{{range.from|date}}
          </ng-container>
          <ng-template #fromto>{{range.from|date}}～{{range.to|date}}　
           <ion-select multiple="true" [(ngModel)]="weeks" slot="end">
              <ion-select-option value='0'>全日</ion-select-option>
              <ion-select-option value='7'>土</ion-select-option>
              <ion-select-option value='8'>祝前日</ion-select-option>
              <ion-select-option value='1'>日</ion-select-option>
              <ion-select-option value='2'>月</ion-select-option>
              <ion-select-option value='3'>火</ion-select-option>
              <ion-select-option value='4'>水</ion-select-option>
              <ion-select-option value='5'>木</ion-select-option>
              <ion-select-option value='6'>金</ion-select-option>
            </ion-select>
            　</ng-template>
        </ion-item>
        <form [formGroup]="calendarForm">
          <ion-item>  
            <ion-label>料金または割引増率</ion-label>
            <ion-input slot="end" typ="number" [formControl]="calendar.price" min="0" max="100000" placeholder="1000">
            </ion-input>
            <ion-input slot="end" typ="number" [formControl]="calendar.rate" min="0" max="10" placeholder="1.2" step="0.1">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="pause" color="warning"></ion-icon>
            <ion-label>休止</ion-label>
            <ion-toggle [formControl]="calendar.close"></ion-toggle>
          </ion-item>
        </form>
        <div style="text-align: center;">
          <ion-button (click)="scheduleAdd()" fill="clear" [disabled]="!(calendarForm.dirty&&calendarForm.valid)">
            <ion-icon name="add-circle" slot="icon-only" color="secondary"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--
<ion-label position="floating">または</ion-label>
[disabled]="!calendar.price.dirty&&!calendar.rate.dirty"
<ion-button (click)="rangeSave()" [disabled]="!getPrice.dirty"fill="clear" slot="end">
              　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
            </ion-button>
            [formControl]="calendar.weeks"
-->