<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="undoPlan=!undoPlan;undo()" fill="clear" [disabled]="!id">
        　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>滞在プランの設定</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="erase()" color="danger" slot="end" fill="clear" [disabled]="!id">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="new()" slot="end" fill="clear" [disabled]="!id">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!dirty&&!stayForm.dirty||saving.stay||saving.plan||stayForm.invalid||!id" (click)="save()" fill="clear">
        <!--
         
          !(stayForm.dirty||calendarForm.dirty)||!(stayForm.valid&&calrendarForm.valid)
        -->　 
        <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col #basic size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <form [formGroup]="stayForm">
          <ion-item>
            <ion-label position="floating">
              タイトル<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required [formControl]="stay.na" minlength="2" maxlength="30" placeholder="ソロサイト"></ion-input>
          </ion-item>
          <span *ngIf="stay.na.errors?.minlength||stay.na.errors?.maxlength" class="errmsg">２文字以上３０文字以下で入力してください。</span>
          <ion-segment scrollable [formControl]="stay.typ">
            <ion-segment-button *ngFor="let typ of stayTyps" [value]="typ.id">
              <img [src]="typ.icon" />
              <ion-label>{{typ.na}}</ion-label>
            </ion-segment-button>
          </ion-segment>         
          <ion-item>
            <ion-label position="floating">
              説明文
            </ion-label>
            <ion-textarea [formControl]="stay.txt" autoGrow="true" maxlength="300"></ion-textarea>
          </ion-item>
          <span *ngIf="stay.txt.errors?.minlength||stay.txt.errors?.maxlength"
            class="errmsg">２文字以上３００文字以下で入力してください。</span>
          <ion-item>
            <img *ngIf="imgBlob;else orgimg" class="img" [src]="imgBlob|safe:'url'" />
            <ng-template #orgimg>
              <img *ngIf="stay.img.value;else noimg" class="img" [src]="stay.img.value" />
              <ng-template #noimg>
                <img class="img" [src]="noimgUrl" />
              </ng-template>
            </ng-template>
            <ion-buttons class="imgButtons">
              <ion-button fill="clear" (click)="upImg.click()">
                <ion-icon name="image" color="success" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button *ngIf="imgBlob" slot="end" (click)="imgBlob=''" fill="clear">
                <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <input #upImg style="display: none;" type="file" (change)="imgChange($event)">
          <ion-progress-bar *ngIf="uploading" [value]="progress" color="success"></ion-progress-bar>
          <canvas #canvas style="display: none;"></canvas>
          <ion-item>
            <ion-icon name="people-circle" color="success"></ion-icon>
            <ion-label>収容数</ion-label>
            <ion-input slot="end" typ="number" [formControl]="stay.num" min="0" max="100" placeholder="5">
            </ion-input>
          </ion-item>
          <span *ngIf="stay.num.errors?.min||stay.num.errors?.max" class="errmsg">0～100の整数を入力してください。</span>
          <ion-item>
            <ion-icon name="card" color="tertiary"></ion-icon>
            <ion-label>標準料金</ion-label>
            <ion-input slot="end" typ="number" [formControl]="stay.price" min="0" max="100000" placeholder="1000">
            </ion-input>           
          </ion-item>
           <span *ngIf="stay.price.errors?.min||stay.price.errors?.max" class="errmsg">0～100000の整数を入力してください。</span>
          <ion-item>
            <ion-icon name="chatbubbles" color="primary"></ion-icon>
            <ion-label>コメント欄</ion-label>
            <ion-toggle [formControl]="stay.chat"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-icon name="pause" color="warning"></ion-icon>
            <ion-label>休止中</ion-label>
            <ion-toggle [formControl]="stay.close"></ion-toggle>
          </ion-item> 
        </form>
      </ion-col>
      <ion-col #plan size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <app-plan [stay]="id" [home]="home" isStayCalendarLoad="true" [undo]="undoPlan" (dirty)="planDirty($event)" [save]="savePlan" (saved)="planSaved($event)"></app-plan>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--
<ion-label position="floating">または</ion-label>
[disabled]="!calendar.price.dirty&&!calendar.rate.dirty"
<ion-button (click)="rangeSave()" [disabled]="!getPrice.dirty"fill="clear" slot="end">
              　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
            </ion-button>
            [formControl]="calendar.weeks"
-->