<ion-calendar class="calendar" [(ngModel)]="range" [options]="calendarOption" type="js-date" (monthChange)="onMonthChange($event)"></ion-calendar>
<ion-item>
  <ng-container *ngIf="range.from.getTime()===range.to.getTime();else fromto">{{range.from|date}}
  </ng-container>
  <ng-template #fromto>{{range.from|date}}～{{range.to|date}}　
    <ion-select *ngIf="isWeek()" multiple="true" [(ngModel)]="weeks" slot="end">
      <ion-select-option value='-1'>全日</ion-select-option>
      <ion-select-option value='6'>土</ion-select-option>
      <ion-select-option value='7'>祝前日</ion-select-option>
      <ion-select-option value='0'>日</ion-select-option>
      <ion-select-option value='1'>月</ion-select-option>
      <ion-select-option value='2'>火</ion-select-option>
      <ion-select-option value='3'>水</ion-select-option>
      <ion-select-option value='4'>木</ion-select-option>
      <ion-select-option value='5'>金</ion-select-option>
    </ion-select> 　
  </ng-template>
</ion-item>
<form [formGroup]="calendarForm">
  <ion-item>
    <ion-label>料金または割引増率</ion-label>
    <ion-input slot="end" typ="number" [formControl]="calendar.price" min="0" max="100000" placeholder="1000">
    </ion-input>
    <ion-input slot="end" typ="number" [formControl]="calendar.rate" min="0" max="10" placeholder="1.2" step="0.1">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pause" color="warning"></ion-icon>
    <ion-label>休止</ion-label>
    <ion-toggle [formControl]="calendar.close"></ion-toggle>
  </ion-item>
</form>
<ion-item *ngFor="let plan of monthPlans" lines="none">
  <ng-container *ngIf="plan.range;else oneday">
    <ion-text slot="start">{{plan.from|date}}～{{plan.to|date}}</ion-text><ion-label slot="end">{{plan.value}}</ion-label>
  </ng-container>
  <ng-template #oneday>
    <ion-text slot="start">{{plan.from|date}}</ion-text><ion-label slot="end">{{plan.value}}</ion-label>
  </ng-template>
  <ion-button fill="clear" (click)="delPlan(plan)" slot="end">
    <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
  </ion-button>
</ion-item>
<div style="text-align: center;">
  <ion-button (click)="addPlan()" fill="clear"
    [disabled]="!(calendarForm.dirty&&calendarForm.valid)||!stay||!home">
    <ion-icon name="add-circle" slot="icon-only" color="secondary"></ion-icon>
  </ion-button>
</div>