<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" side="start">
    <ion-content>
      <app-menu [user]="user" (logout)="logout($event)" (close)="menu.close()"></app-menu>
    </ion-content>
  </ion-menu>
  <ion-menu contentId="menu-content" side="end">
    <ion-content>
      <app-markers *ngIf="page==='marker'; else books"></app-markers>
      <ng-template #books>
      <app-books *ngIf="page==='book'; else meets" [user]="user" [home]="home"></app-books>
      <ng-template #meets>  
      <app-meets *ngIf="page==='meet'; else talks" [user]="user" [users]="users"></app-meets>  
        <ng-template #talks>
            <app-talks [user]="user"></app-talks>
          </ng-template>
        </ng-template> 
      </ng-template>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>