<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" side="start">
    <ion-content>
      <app-menu [user]="user" (logout)="logout($event)"></app-menu>
    </ion-content>
  </ion-menu>
  <ion-menu contentId="menu-content" side="end">
    <ion-content>
      <app-marker *ngIf="page==='/tabs/tab3';else talk"></app-marker>
      <ng-template #talk>
        <app-talk [user]="user"></app-talk>
      </ng-template>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>