<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" side="start">
    <ion-content>
      <app-menu [user]="user" (logout)="logout($event)"></app-menu>
    </ion-content>
  </ion-menu>
  <ion-menu contentId="menu-content" side="end">
    <ion-content>
      <app-markers *ngIf="page==='/tabs/marker';else talks"></app-markers>
      <ng-template #talks>
        <app-talks [user]="user"></app-talks>
      </ng-template>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>