.split-pane-visible >.split-pane-side {
  flex-grow: 10;
}
.split-pane-visible >.split-pane-main {
  flex-grow: 90;
}
.split-pane-visible >.split-pane-side {
  min-width: 300px; /* Default: 270px */
  max-width: 304px; /* Same as when menu opens in mobile mode */
}