
.shopImg{
  border-radius: 7px;
  width: 160px;height: 40px;
  display:block;
}
.castImg{
  border-radius: 7px;
  width: 80px;height: 80px;
  display:block;
}
.img{
  border-radius: 7px;
  width: 160px;
  display:block;
}
.created{
   margin:10px,10px,10px,10px;  
}
.hidden{
  display:none;
}
/*
.shop{
  width:160px;
  height: 60px;
  margin:10px,10px,10px,10px;  
}
.cast{
  width:80px;
  height: 100px;
  margin:10px,10px,10px,10px;  
}
.wrap{
  display:flex;flex-wrap: wrap;justify-content: space-around;
}
*/