<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="modal.dismiss()" fill="clear">
      　 <ion-icon name="close-circle" slot="icon-only" [color]="markerForm.dirty?'danger':'dark'"></ion-icon>
    </ion-button>
    <ion-button slot="start" (click)="undo()" fill="clear">
      　 <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
    </ion-button>
    <ion-title>マーカー</ion-title>
    <ion-button [disabled]="!marker.id" (click)="postStory()" color="secondary" slot="end" fill="clear">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!marker.id" (click)="erase()" color="danger" slot="end" fill="clear">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button slot="end" [disabled]="!markerForm.dirty || !markerForm.valid || saving" (click)="save()" fill="clear">
      <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="markerForm">
    <ion-item>
      <ion-label class="leftLabel">名称</ion-label>
      <ion-input name="na" [formControl]="na" placeholder="弓ヶ浜"></ion-input>
    </ion-item>
    <span *ngIf="na.errors?.minlength||na.errors?.maxlength" class="errmsg">２文字以上２０文字以下で入力してください。</span>
    <ion-item>
      <ion-label class="leftLabel">説明文</ion-label>
      <ion-textarea name="txt" [formControl]="txt" placeholder="南伊豆を代表する海水浴場で、長さ1kmにわたる美しい弧を描く砂浜"></ion-textarea>
    </ion-item>
    <span *ngIf="txt.errors?.minlength||txt.errors?.maxlength" class="errmsg">２文字以上５００文字以下で入力してください。</span>
    <span *ngIf="txt.errors?.pattern && txt.dirty" class="errmsg">入力してください</span>
    <ion-item>
      <ion-label class="leftLabel">
        <ion-icon name="home" padding-right></ion-icon>ホームページ
      </ion-label>
      <ion-input name="url" [formControl]="url" placeholder="https://southizu.com" (change)="refresh()"></ion-input>
      <ion-button slot="end" (click)="refresh()" fill="clear"></ion-button>
    </ion-item>
    <span *ngIf="url.errors?.pattern && url.dirty" class="errmsg">正しいURLを入力してください</span>
    <ion-item>
      <ion-label class="leftLabel">
        <ion-icon name="call" padding-right></ion-icon>電話
      </ion-label>
      <ion-input name="phone" [formControl]="phone" placeholder="03-5321-1111"></ion-input>
    </ion-item>
    <span *ngIf="phone.errors?.pattern && phone.dirty" class="errmsg">00-0000-0000などの形式で入力してください</span>
    <ion-segment scrollable [formControl]="icon">
      <ion-segment-button *ngFor="let icon of icons" [value]="icon.id">         
          <img [src]="icon.url"/>
          <ion-label>{{icon.na}}</ion-label>         
      </ion-segment-button>        
    </ion-segment>    
  </form>
  <ion-item>    
      <img *ngIf="imgBlob;else orgimg" class="img" [src]="imgBlob|safe" />
      <ng-template #orgimg>
        <img *ngIf="img.value;else noimg" class="img" [src]="img.value" />
        <ng-template #noimg>
          <img class="img" [src]="noimgUrl"/>
        </ng-template>
      </ng-template>
      <ion-buttons class="imgButtons">
        <ion-button fill="clear" (click)="upImg.click()">
          <ion-icon name="image" color="success" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button *ngIf="imgBlob" slot="end" (click)="imgBlob=''" fill="clear">
          <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-item> 
  <input #upImg style="display: none;" type="file" (change)="imgChange($event)">
  <canvas #canvas style="display: none;"></canvas>
</ion-content>